
/* Score interpretation table */

.responsive-table {
    border-collapse: collapse;
    margin: 25px 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(189, 28, 149, 0.15);
    border-top:  solid white;
    table-layout: fixed;
  
  }
  
  .responsive-table thead tr {
    background-color: #9e65a99c;
  }
  
  .responsive-table th{

    padding: 12px 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    border-bottom: 0.05px solid #9e65a99c;
  }

  .responsive-table td {
    padding: 12px 15px;
    text-align: center;
    font-size: 14px;
  }
  
  
  
  
  
  

  /*Qs table*/

  #Questions-table {
  border-collapse: collapse;
  margin: 50px 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(189, 28, 149, 0.15);
  table-layout: auto;

  }

#Questions-table th{

  padding: 12px 15px;
 font-size: 18px;
  font-weight: bolder;
  
}

#Questions-table td {
  padding: 12px 15px;
  font-size: 17px;
}



.score{
text-align: center;
font-size: 22px;
font-weight: bold;
  
}

/*scores grid*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  background-color: #9e65a99c ;
  border-radius: 5px;
}

.grid-item {
  background-color:white;
  padding: 5px;
  font-size: 17px;
  text-align: center;
  border-radius: 20px;
  border: 1.5px solid ;
}




  
