
/* Score interpretation table */

.responsive-table {
    border-collapse: collapse;
    margin: 25px 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(189, 28, 149, 0.15);
    border-top: 2px solid #9e65a9c2;
    table-layout: fixed;
  
  }
  
  .responsive-table thead tr {
    background-color: #9e65a99c;
  }
  
  .responsive-table th{

    padding: 12px 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    border-bottom: 2px solid #9e65a98f;
  }

  .responsive-table td {
    padding: 12px 15px;
    text-align: center;
    font-size: 14px;
  }
  
  .responsive-table tbody tr {
    border-bottom: 0.1 solid;
  }
  
  
  
  .responsive-table tbody tr:last-of-type {
    border-bottom: 1px solid #9e65a9c2;
  }


  
